{% extends 'base.html' %}

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
<h3 style="color:#259">欢迎留言！</h3>
<form action="{% url 'guestbook:message' %}" method="post" class="comment-form">
    {% csrf_token %}

    <label class="col-md-4">
        <span>名字 :</span>
        <input id="name" type="text" name="name" class="error" placeholder="请输入您的姓名"/>
        <div class="error-msg"></div>
    </label>

    <label class="col-md-4">
        <span>邮箱 :</span>
        <input id="email" type="email" value="" name="email" placeholder="请输入邮箱地址"/>
        <div class="error-msg"></div>
    </label>

    <label class="col-md-12">
        <span>留言 :</span>
        <textarea id="message" name="message"  placeholder="请输入你的留言"></textarea>
        <div class="error-msg"></div>
    </label>

    <div class="success-msg"></div>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="提交"/>
    </label>

</form>

<div class="comment-list-panel">
    <h3 style="color:#259">留言列表，共 <span>{{ message_set.count }}</span> 条留言</h3>
    <ul class="comment-list list-unstyled">
        {% for message in messages %}
        <li class="comment-item">
            <span class="nickname">{{ message.visitor_name }}</span>
            <time class="submit-date">{{ message.message_time. }}</time>
            <div class="text">
                {{ message.message_text }}
            </div>
        </li>
        {% empty %}
        暂无留言
        {% endfor %}
    </ul>
</div>


{% empty %}
<div class="no-post">暂时还没有留言！</div>
{% endfor %}


{% endblock main %}