{% extends 'base.html' %}

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
<h3 style="color:#259">欢迎留言！</h3>
<form action="{% url 'guestbook:message' %}" method="post" class="comment-form">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="{{ form.visitor_name.id_for_label }}" style="color:#259">名字：</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="col-md-4" style="width:66.6666%">
                <label for="{{ form.visitor_email.id_for_label }}" style="color:#259">邮箱：</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="col-md-12">
                <label for="{{ form.message_text_for_label }}" style="color:#259">留言：</label>
                {{ form.text }}
                {{ form.text.errors }}
                <button type="submit" class="comment-btn" style="border-radius:5px">发表</button>
            </div>
        </div>

</form>

<div class="comment-list-panel">
    <h3 style="color:#259">留言列表，共 <span>{{ messages.count }}</span> 条留言</h3>
    <ul class="comment-list list-unstyled">
        {% for message in messages %}
        <li class="comment-item">
            <span class="nickname">{{ message.visitor_name }}</span>
            <time class="submit-date">{{ message.message_time. }}</time>
            <div class="text">
                {{ message.message_text }}
            </div>
        </li>
        {% empty %}
        暂无留言
        {% endfor %}
    </ul>
</div>


{% endblock main %}