{% extends 'base.html' %}

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
<h3 style="color:#259">欢迎留言！</h3>
<form action="{% url 'guestbook:save' %}" method="post" class="comment-form">
    {% csrf_token %}
        <div class="row">
            <label>
                <span>名字 :</span>
                <input id="name" type="text" name="visitor_name" class="error" class="col-md-4"/>
                <div class="error-msg"></div>
            </label>

            <label>
                <span>邮箱 :</span>
                <input id="email" type="email" value="" name="visitor_email" class="col-md-4"/>
                <div class="error-msg"></div>
            </label>

            <label>
                <span>留言 :</span>
                <textarea id="message" name="message_text" class="col-md-12" ></textarea>
                <div class="error-msg"></div>
            </label>
            <label>
                <span>&nbsp;</span>
                <input type="submit" class="button" value="提交"/>
            </label>
        </div>
</form>

<div class="comment-list-panel">
    <h3 style="color:#259">留言列表，共 <span>{{ messages.count }}</span> 条留言</h3>
    <ul class="comment-list list-unstyled">
        {% for message in messages %}
        <li class="comment-item">
            <span class="nickname">{{ message.visitor_name }}</span>
            <time class="submit-date">{{ message.message_time. }}</time>
            <div class="text">
                {{ message.message_text }}
            </div>
        </li>
        {% empty %}
        暂无留言
        {% endfor %}
    </ul>
</div>


{% endblock main %}