{% extends 'base.html' %}

{% block main %}

<br/>
    <div style="background-image: url(https://i.imgur.com/orJbZY2.jpg);margin-top: 20px;border-radius:15px">
            <br/><br/><br/><br/>
            <h3 style="color:#ff8c00">&nbsp &nbsp &nbsp &nbsp &nbsp<span>泛娱乐啊</span></h3><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
<br/>
<img src="https://i.imgur.com/toLhmTK.jpg"  alt="Smiley face" style="border-radius:15px" >
<br/>
<img src="https://i.imgur.com/KlpW08u.jpg"  alt="Smiley face" style="border-radius:15px" >
<br/>
<div  style="background-image: url(https://i.imgur.com/OZY4Id7.jpg);margin-top: 20px;border-radius:15px">
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/>
            <h3 style="color:white;font-family:STXingkai,STKaiti">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                &nbsp &nbsp
                <span>洒脱莫学乖张 ，逍遥自在无妨</span></h3><br/>
            <br/>
</div>


{% endblock main %}